In [1]:
from edc import check_compatibility
check_compatibility("user-2023.10-01", dependencies=["GEODB"])

---------

The following environment variables are available:

* `GEODB_AUTH_AUD`, `GEODB_AUTH_CLIENT_ID`, `GEODB_AUTH_DOMAIN`, `GEODB_API_SERVER_URL`, `GEODB_AUTH_CLIENT_SECRET`, `GEODB_API_SERVER_PORT`

## Sharing Data

In [2]:
from xcube_geodb.core.geodb import GeoDBClient

In [3]:
geodb = GeoDBClient()
geodb.whoami

'geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04'

In [4]:
ds = geodb.get_my_collections()

if ds[(ds.database == geodb.whoami) & (ds.collection == 'land_use')].collection.count() == 0:
    # Have a look at fiona feature schema
    collections = {
            "land_use": 
            {
                "crs": 3794,
                "properties": 
                {
                    "RABA_PID": "float", 
                    "RABA_ID": "float", 
                    "D_OD": "date"
                }
            }
        }


    geodb.create_collections(collections)
    import geopandas
    import os
    gdf = geopandas.read_file("/shared/eurodatacube/curated/data/sample/land_use.shp")
    geodb.insert_into_collection('land_use', gdf)

Processing rows from 0 to 999
Processing rows from 1000 to 1999

Processing rows from 2000 to 2999
Processing rows from 3000 to 3999

Processing rows from 4000 to 4999
Processing rows from 5000 to 5999

Processing rows from 6000 to 6999
Processing rows from 7000 to 7999

Processing rows from 8000 to 8999
Processing rows from 9000 to 9827

### Publish a Collection to the World

In [5]:
geodb.list_my_grants()

              collection   grantee
0               land_use  postgres
1               land_use  postgres
2               land_use  postgres
3               land_use  postgres
4               land_use  postgres
5               land_use  postgres
6               land_use  postgres
7      2021-10-04-test-3  postgres
8      2021-10-04-test-3  postgres
9      2021-10-04-test-3  postgres
10     2021-10-04-test-3  postgres
11     2021-10-04-test-3  postgres
12     2021-10-04-test-3  postgres
13     2021-10-04-test-3  postgres
14  2021-10-04-test-1234  postgres
15  2021-10-04-test-1234  postgres
16  2021-10-04-test-1234  postgres
17  2021-10-04-test-1234  postgres
18  2021-10-04-test-1234  postgres
19  2021-10-04-test-1234  postgres
20  2021-10-04-test-1234  postgres
21     2021-10-04-test-7  postgres
22     2021-10-04-test-7  postgres
23     2021-10-04-test-7  postgres
24     2021-10-04-test-7  postgres
25     2021-10-04-test-7  postgres
26     2021-10-04-test-7  postgres
27     2021-10-04-test-7  postgres
28  2021-10-04-test-9876  postgres
29  2021-10-04-test-9876  postgres
30  2021-10-04-test-9876  postgres
31  2021-10-04-test-9876  postgres
32  2021-10-04-test-9876  postgres
33  2021-10-04-test-9876  postgres
34  2021-10-04-test-9876  postgres
35                alster  postgres
36                alster  postgres
37                alster  postgres
38                alster  postgres
39                alster  postgres
40                alster  postgres
41                alster  postgres
42  2021-10-04-test-coll  postgres
43  2021-10-04-test-coll  postgres
44  2021-10-04-test-coll  postgres
45  2021-10-04-test-coll  postgres
46  2021-10-04-test-coll  postgres
47  2021-10-04-test-coll  postgres
48  2021-10-04-test-coll  postgres
49     2021-10-04-test-2  postgres
50     2021-10-04-test-2  postgres
51     2021-10-04-test-2  postgres
52     2021-10-04-test-2  postgres
53     2021-10-04-test-2  postgres
54     2021-10-04-test-2  postgres
55     2021-10-04-test-2  postgres

In [6]:
geodb.publish_collection("land_use")

See the chanhes made to the collection:

In [7]:
geodb.get_event_log('land_use')

,event_type,message,username,date
0,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:03.607382
1,dropped rows,from collection geodb_418dfeac-15f0-4606-9edb-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:04.126797
2,added property,"{name: test_prop, type: integer} to collection...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:06.172545
3,dropped property,test_prop from collection geodb_418dfeac-15f0-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:09.069597
4,added property,"{name: test1, type: integer} to collection geo...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:09.337766
...,...,...,...,...
291,dropped property,test2 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2023-10-24T07:57:18.359068
292,dropped,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2023-10-24T07:57:18.795075
293,created,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2023-10-24T07:58:07.529778
294,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2023-10-24T07:58:11.023752
295,published,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2023-10-24T07:58:11.469558

### Accessing Collection as a different User

Please be aware that you cannot change the user easily within a Notebook. Here, we changed the credentials in the background. The following cells will not run and are for demonstration only.

In [8]:
geodb = GeoDBClient()
geodb.whoami

'geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04'

### Revoke access

In [9]:
geodb.list_my_grants()

              collection   grantee
0               land_use  postgres
1               land_use  postgres
2               land_use  postgres
3               land_use  postgres
4               land_use  postgres
5               land_use  postgres
6               land_use  postgres
7               land_use    PUBLIC
8      2021-10-04-test-3  postgres
9      2021-10-04-test-3  postgres
10     2021-10-04-test-3  postgres
11     2021-10-04-test-3  postgres
12     2021-10-04-test-3  postgres
13     2021-10-04-test-3  postgres
14     2021-10-04-test-3  postgres
15  2021-10-04-test-1234  postgres
16  2021-10-04-test-1234  postgres
17  2021-10-04-test-1234  postgres
18  2021-10-04-test-1234  postgres
19  2021-10-04-test-1234  postgres
20  2021-10-04-test-1234  postgres
21  2021-10-04-test-1234  postgres
22     2021-10-04-test-7  postgres
23     2021-10-04-test-7  postgres
24     2021-10-04-test-7  postgres
25     2021-10-04-test-7  postgres
26     2021-10-04-test-7  postgres
27     2021-10-04-test-7  postgres
28     2021-10-04-test-7  postgres
29  2021-10-04-test-9876  postgres
30  2021-10-04-test-9876  postgres
31  2021-10-04-test-9876  postgres
32  2021-10-04-test-9876  postgres
33  2021-10-04-test-9876  postgres
34  2021-10-04-test-9876  postgres
35  2021-10-04-test-9876  postgres
36                alster  postgres
37                alster  postgres
38                alster  postgres
39                alster  postgres
40                alster  postgres
41                alster  postgres
42                alster  postgres
43  2021-10-04-test-coll  postgres
44  2021-10-04-test-coll  postgres
45  2021-10-04-test-coll  postgres
46  2021-10-04-test-coll  postgres
47  2021-10-04-test-coll  postgres
48  2021-10-04-test-coll  postgres
49  2021-10-04-test-coll  postgres
50     2021-10-04-test-2  postgres
51     2021-10-04-test-2  postgres
52     2021-10-04-test-2  postgres
53     2021-10-04-test-2  postgres
54     2021-10-04-test-2  postgres
55     2021-10-04-test-2  postgres
56     2021-10-04-test-2  postgres

In [10]:
geodb.unpublish_collection("land_use")

See the chanhes made to the collection:

In [11]:
geodb.get_event_log('land_use')

,event_type,message,username,date
0,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:03.607382
1,dropped rows,from collection geodb_418dfeac-15f0-4606-9edb-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:04.126797
2,added property,"{name: test_prop, type: integer} to collection...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:06.172545
3,dropped property,test_prop from collection geodb_418dfeac-15f0-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:09.069597
4,added property,"{name: test1, type: integer} to collection geo...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:09.337766
...,...,...,...,...
292,dropped,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2023-10-24T07:57:18.795075
293,created,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2023-10-24T07:58:07.529778
294,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2023-10-24T07:58:11.023752
295,published,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2023-10-24T07:58:11.469558
296,unpublished,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2023-10-24T07:58:12.938816

In [12]:
geodb.list_my_grants()

              collection   grantee
0               land_use  postgres
1               land_use  postgres
2               land_use  postgres
3               land_use  postgres
4               land_use  postgres
5               land_use  postgres
6               land_use  postgres
7      2021-10-04-test-3  postgres
8      2021-10-04-test-3  postgres
9      2021-10-04-test-3  postgres
10     2021-10-04-test-3  postgres
11     2021-10-04-test-3  postgres
12     2021-10-04-test-3  postgres
13     2021-10-04-test-3  postgres
14  2021-10-04-test-1234  postgres
15  2021-10-04-test-1234  postgres
16  2021-10-04-test-1234  postgres
17  2021-10-04-test-1234  postgres
18  2021-10-04-test-1234  postgres
19  2021-10-04-test-1234  postgres
20  2021-10-04-test-1234  postgres
21     2021-10-04-test-7  postgres
22     2021-10-04-test-7  postgres
23     2021-10-04-test-7  postgres
24     2021-10-04-test-7  postgres
25     2021-10-04-test-7  postgres
26     2021-10-04-test-7  postgres
27     2021-10-04-test-7  postgres
28  2021-10-04-test-9876  postgres
29  2021-10-04-test-9876  postgres
30  2021-10-04-test-9876  postgres
31  2021-10-04-test-9876  postgres
32  2021-10-04-test-9876  postgres
33  2021-10-04-test-9876  postgres
34  2021-10-04-test-9876  postgres
35                alster  postgres
36                alster  postgres
37                alster  postgres
38                alster  postgres
39                alster  postgres
40                alster  postgres
41                alster  postgres
42  2021-10-04-test-coll  postgres
43  2021-10-04-test-coll  postgres
44  2021-10-04-test-coll  postgres
45  2021-10-04-test-coll  postgres
46  2021-10-04-test-coll  postgres
47  2021-10-04-test-coll  postgres
48  2021-10-04-test-coll  postgres
49     2021-10-04-test-2  postgres
50     2021-10-04-test-2  postgres
51     2021-10-04-test-2  postgres
52     2021-10-04-test-2  postgres
53     2021-10-04-test-2  postgres
54     2021-10-04-test-2  postgres
55     2021-10-04-test-2  postgres

In [13]:
gdf = geodb.get_collection_by_bbox(collection="land_use", bbox=(452750.0, 88909.549, 464000.0, 102486.299),
                comparison_mode="contains", bbox_crs=3794, limit=2, offset=10)
gdf

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,11,2023-10-24T07:58:09.24786+00:00,None,"POLYGON ((460137.998 95628.898, 460111.001 956...",5983161,1100,2019-03-11
1,12,2023-10-24T07:58:09.24786+00:00,None,"POLYGON ((453673.609 91328.224, 453678.929 913...",5983074,1600,2019-03-26