In [1]:
from edc import print_info
print_info("geodb-sharing")

***Notebook Title***
GeoDB: Sharing Data

***Notebook Description***
Euro Data Cube GeoDB: Sharing Data


***Notebook Dependencies***
This notebook requires an active subscription to:
* EDC GeoDB
* EDC EOxHub Workspace

In [2]:
from edc import check_compatibility
check_compatibility("user-2022.10-14", dependencies=["GEODB"])

---------

The following environment variables are available:

* `GEODB_AUTH_AUD`, `GEODB_AUTH_CLIENT_ID`, `GEODB_AUTH_DOMAIN`, `GEODB_API_SERVER_URL`, `GEODB_AUTH_CLIENT_SECRET`, `GEODB_API_SERVER_PORT`

## Sharing Data

In [3]:
from xcube_geodb.core.geodb import GeoDBClient

In [4]:
geodb = GeoDBClient()
geodb.whoami

'geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04'

In [5]:
ds = geodb.get_my_collections()

if ds[(ds.database == geodb.whoami) & (ds.collection == 'land_use')].collection.count() == 0:
    # Have a look at fiona feature schema
    collections = {
            "land_use": 
            {
                "crs": 3794,
                "properties": 
                {
                    "RABA_PID": "float", 
                    "RABA_ID": "float", 
                    "D_OD": "date"
                }
            }
        }


    geodb.create_collections(collections)
    import geopandas
    import os
    gdf = geopandas.read_file(os.path.expanduser("~/.shared/notebooks/eurodatacube/notebooks/curated/data/sample/land_use.shp"))
    geodb.insert_into_collection('land_use', gdf)

### Publish a Collection to the World

In [6]:
geodb.list_my_grants()

              collection   grantee
0      2021-10-04-test-3  postgres
1      2021-10-04-test-3  postgres
2      2021-10-04-test-3  postgres
3      2021-10-04-test-3  postgres
4      2021-10-04-test-3  postgres
5      2021-10-04-test-3  postgres
6      2021-10-04-test-3  postgres
7   2021-10-04-test-1234  postgres
8   2021-10-04-test-1234  postgres
9   2021-10-04-test-1234  postgres
10  2021-10-04-test-1234  postgres
11  2021-10-04-test-1234  postgres
12  2021-10-04-test-1234  postgres
13  2021-10-04-test-1234  postgres
14     2021-10-04-test-7  postgres
15     2021-10-04-test-7  postgres
16     2021-10-04-test-7  postgres
17     2021-10-04-test-7  postgres
18     2021-10-04-test-7  postgres
19     2021-10-04-test-7  postgres
20     2021-10-04-test-7  postgres
21  2021-10-04-test-9876  postgres
22  2021-10-04-test-9876  postgres
23  2021-10-04-test-9876  postgres
24  2021-10-04-test-9876  postgres
25  2021-10-04-test-9876  postgres
26  2021-10-04-test-9876  postgres
27  2021-10-04-test-9876  postgres
28              land_use  postgres
29              land_use  postgres
30              land_use  postgres
31              land_use  postgres
32              land_use  postgres
33              land_use  postgres
34              land_use  postgres
35                alster  postgres
36                alster  postgres
37                alster  postgres
38                alster  postgres
39                alster  postgres
40                alster  postgres
41                alster  postgres
42  2021-10-04-test-coll  postgres
43  2021-10-04-test-coll  postgres
44  2021-10-04-test-coll  postgres
45  2021-10-04-test-coll  postgres
46  2021-10-04-test-coll  postgres
47  2021-10-04-test-coll  postgres
48  2021-10-04-test-coll  postgres
49     2021-10-04-test-2  postgres
50     2021-10-04-test-2  postgres
51     2021-10-04-test-2  postgres
52     2021-10-04-test-2  postgres
53     2021-10-04-test-2  postgres
54     2021-10-04-test-2  postgres
55     2021-10-04-test-2  postgres

In [7]:
geodb.publish_collection("land_use")

See the chanhes made to the collection:

In [8]:
geodb.get_event_log('land_use')

,event_type,message,username,date
0,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:03.607382
1,dropped rows,from collection geodb_418dfeac-15f0-4606-9edb-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:04.126797
2,added property,"{name: test_prop, type: integer} to collection...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:06.172545
3,dropped property,test_prop from collection geodb_418dfeac-15f0-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:09.069597
4,added property,"{name: test1, type: integer} to collection geo...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:09.337766
5,added property,"{name: test2, type: date} to collection geodb_...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:09.39186
6,dropped property,test1 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:12.11931
7,dropped property,test2 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:12.175558
8,dropped,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:12.450506
9,created,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:45.888491
10,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:50.612199
11,published,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:57:35.151872
12,unpublished,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:57:36.33613
13,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:09.442754
14,dropped rows,from collection geodb_418dfeac-15f0-4606-9edb-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:09.941356
15,added property,"{name: test_prop, type: integer} to collection...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:11.992148
16,dropped property,test_prop from collection geodb_418dfeac-15f0-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:15.179068
17,added property,"{name: test1, type: integer} to collection geo...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:15.440398
18,added property,"{name: test2, type: date} to collection geodb_...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:15.497057
19,dropped property,test1 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:18.279622
20,dropped property,test2 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:18.338983
21,dropped,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:18.589832
22,created,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:52.692734
23,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:56.77517
24,published,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:18:44.725908
25,unpublished,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:18:46.019902
26,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:29.716572
27,dropped rows,from collection geodb_418dfeac-15f0-4606-9edb-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:30.569054
28,added property,"{name: test_prop, type: integer} to collection...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:33.324235
29,dropped property,test_prop from collection geodb_418dfeac-15f0-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:40.692457
30,added property,"{name: test1, type: integer} to collection geo...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:41.097402
31,added property,"{name: test2, type: date} to collection geodb_...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:41.159292
32,dropped property,test1 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:46.328581
33,dropped property,test2 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:46.396914
34,dropped,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:46.773939
35,created,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:29:32.160836
36,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:29:37.348224
37,published,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:30:27.455543
38,unpublished,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:30:28.964816
39,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:17.786899
40,dropped rows,from collection geodb_418dfeac-15f0-4606-9edb-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:18.53156
41,added property,"{name: test_prop, type: integer} to collection...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:21.160396
42,dropped property,test_prop from collection geodb_418dfeac-15f0-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:26.491039
43,added property,"{name: test1, type: integer} to collection geo...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:26.851169
44,added property,"{name: test2, type: date} to collection geodb_...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:26.916984
45,dropped property,test1 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:33.695021
46,dropped property,test2 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:33.763549
47,dropped,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:34.121248
48,created,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:41:05.601716
49,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:41:10.369781
50,published,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:41:53.383262

### Accessing Collection as a different User

Please be aware that you cannot change the user easily within a Notebook. Here, we changed the credentials in the background. The following cells will not run and are for demonstration only.

In [9]:
geodb = GeoDBClient()
geodb.whoami

'geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04'

### Revoke access

In [10]:
geodb.list_my_grants()

              collection   grantee
0      2021-10-04-test-3  postgres
1      2021-10-04-test-3  postgres
2      2021-10-04-test-3  postgres
3      2021-10-04-test-3  postgres
4      2021-10-04-test-3  postgres
5      2021-10-04-test-3  postgres
6      2021-10-04-test-3  postgres
7   2021-10-04-test-1234  postgres
8   2021-10-04-test-1234  postgres
9   2021-10-04-test-1234  postgres
10  2021-10-04-test-1234  postgres
11  2021-10-04-test-1234  postgres
12  2021-10-04-test-1234  postgres
13  2021-10-04-test-1234  postgres
14     2021-10-04-test-7  postgres
15     2021-10-04-test-7  postgres
16     2021-10-04-test-7  postgres
17     2021-10-04-test-7  postgres
18     2021-10-04-test-7  postgres
19     2021-10-04-test-7  postgres
20     2021-10-04-test-7  postgres
21  2021-10-04-test-9876  postgres
22  2021-10-04-test-9876  postgres
23  2021-10-04-test-9876  postgres
24  2021-10-04-test-9876  postgres
25  2021-10-04-test-9876  postgres
26  2021-10-04-test-9876  postgres
27  2021-10-04-test-9876  postgres
28              land_use  postgres
29              land_use  postgres
30              land_use  postgres
31              land_use  postgres
32              land_use  postgres
33              land_use  postgres
34              land_use  postgres
35              land_use    PUBLIC
36                alster  postgres
37                alster  postgres
38                alster  postgres
39                alster  postgres
40                alster  postgres
41                alster  postgres
42                alster  postgres
43  2021-10-04-test-coll  postgres
44  2021-10-04-test-coll  postgres
45  2021-10-04-test-coll  postgres
46  2021-10-04-test-coll  postgres
47  2021-10-04-test-coll  postgres
48  2021-10-04-test-coll  postgres
49  2021-10-04-test-coll  postgres
50     2021-10-04-test-2  postgres
51     2021-10-04-test-2  postgres
52     2021-10-04-test-2  postgres
53     2021-10-04-test-2  postgres
54     2021-10-04-test-2  postgres
55     2021-10-04-test-2  postgres
56     2021-10-04-test-2  postgres

In [11]:
geodb.unpublish_collection("land_use")

See the chanhes made to the collection:

In [12]:
geodb.get_event_log('land_use')

,event_type,message,username,date
0,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:03.607382
1,dropped rows,from collection geodb_418dfeac-15f0-4606-9edb-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:04.126797
2,added property,"{name: test_prop, type: integer} to collection...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:06.172545
3,dropped property,test_prop from collection geodb_418dfeac-15f0-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:09.069597
4,added property,"{name: test1, type: integer} to collection geo...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:09.337766
5,added property,"{name: test2, type: date} to collection geodb_...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:09.39186
6,dropped property,test1 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:12.11931
7,dropped property,test2 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:12.175558
8,dropped,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:12.450506
9,created,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:45.888491
10,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:56:50.612199
11,published,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:57:35.151872
12,unpublished,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T08:57:36.33613
13,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:09.442754
14,dropped rows,from collection geodb_418dfeac-15f0-4606-9edb-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:09.941356
15,added property,"{name: test_prop, type: integer} to collection...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:11.992148
16,dropped property,test_prop from collection geodb_418dfeac-15f0-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:15.179068
17,added property,"{name: test1, type: integer} to collection geo...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:15.440398
18,added property,"{name: test2, type: date} to collection geodb_...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:15.497057
19,dropped property,test1 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:18.279622
20,dropped property,test2 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:18.338983
21,dropped,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:18.589832
22,created,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:52.692734
23,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:17:56.77517
24,published,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:18:44.725908
25,unpublished,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-09-27T09:18:46.019902
26,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:29.716572
27,dropped rows,from collection geodb_418dfeac-15f0-4606-9edb-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:30.569054
28,added property,"{name: test_prop, type: integer} to collection...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:33.324235
29,dropped property,test_prop from collection geodb_418dfeac-15f0-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:40.692457
30,added property,"{name: test1, type: integer} to collection geo...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:41.097402
31,added property,"{name: test2, type: date} to collection geodb_...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:41.159292
32,dropped property,test1 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:46.328581
33,dropped property,test2 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:46.396914
34,dropped,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:28:46.773939
35,created,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:29:32.160836
36,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:29:37.348224
37,published,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:30:27.455543
38,unpublished,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T11:30:28.964816
39,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:17.786899
40,dropped rows,from collection geodb_418dfeac-15f0-4606-9edb-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:18.53156
41,added property,"{name: test_prop, type: integer} to collection...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:21.160396
42,dropped property,test_prop from collection geodb_418dfeac-15f0-...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:26.491039
43,added property,"{name: test1, type: integer} to collection geo...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:26.851169
44,added property,"{name: test2, type: date} to collection geodb_...",geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:26.916984
45,dropped property,test1 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:33.695021
46,dropped property,test2 from collection geodb_418dfeac-15f0-4606...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:33.763549
47,dropped,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:40:34.121248
48,created,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:41:05.601716
49,added rows,9827 rows inserted into geodb_418dfeac-15f0-46...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:41:10.369781
50,published,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:41:53.383262
51,unpublished,collection geodb_418dfeac-15f0-4606-9edb-fd9eb...,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,2022-10-13T12:41:54.77832

In [13]:
geodb.list_my_grants()

              collection   grantee
0      2021-10-04-test-3  postgres
1      2021-10-04-test-3  postgres
2      2021-10-04-test-3  postgres
3      2021-10-04-test-3  postgres
4      2021-10-04-test-3  postgres
5      2021-10-04-test-3  postgres
6      2021-10-04-test-3  postgres
7   2021-10-04-test-1234  postgres
8   2021-10-04-test-1234  postgres
9   2021-10-04-test-1234  postgres
10  2021-10-04-test-1234  postgres
11  2021-10-04-test-1234  postgres
12  2021-10-04-test-1234  postgres
13  2021-10-04-test-1234  postgres
14     2021-10-04-test-7  postgres
15     2021-10-04-test-7  postgres
16     2021-10-04-test-7  postgres
17     2021-10-04-test-7  postgres
18     2021-10-04-test-7  postgres
19     2021-10-04-test-7  postgres
20     2021-10-04-test-7  postgres
21  2021-10-04-test-9876  postgres
22  2021-10-04-test-9876  postgres
23  2021-10-04-test-9876  postgres
24  2021-10-04-test-9876  postgres
25  2021-10-04-test-9876  postgres
26  2021-10-04-test-9876  postgres
27  2021-10-04-test-9876  postgres
28              land_use  postgres
29              land_use  postgres
30              land_use  postgres
31              land_use  postgres
32              land_use  postgres
33              land_use  postgres
34              land_use  postgres
35                alster  postgres
36                alster  postgres
37                alster  postgres
38                alster  postgres
39                alster  postgres
40                alster  postgres
41                alster  postgres
42  2021-10-04-test-coll  postgres
43  2021-10-04-test-coll  postgres
44  2021-10-04-test-coll  postgres
45  2021-10-04-test-coll  postgres
46  2021-10-04-test-coll  postgres
47  2021-10-04-test-coll  postgres
48  2021-10-04-test-coll  postgres
49     2021-10-04-test-2  postgres
50     2021-10-04-test-2  postgres
51     2021-10-04-test-2  postgres
52     2021-10-04-test-2  postgres
53     2021-10-04-test-2  postgres
54     2021-10-04-test-2  postgres
55     2021-10-04-test-2  postgres

In [14]:
gdf = geodb.get_collection_by_bbox(collection="land_use", bbox=(452750.0, 88909.549, 464000.0, 102486.299),
                comparison_mode="contains", bbox_crs=3794, limit=2, offset=10)
gdf

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,11,2022-10-13T12:41:07.475044+00:00,None,"POLYGON ((460137.998 95628.898, 460111.001 956...",5983161,1100,2019-03-11
1,12,2022-10-13T12:41:07.475044+00:00,None,"POLYGON ((453673.609 91328.224, 453678.929 913...",5983074,1600,2019-03-26