# Euro Data Cube - geoDB: Getting Started

The Euro Data Cube Jupyter Lab environment has all dependencies preinstalled and the necessary credentials prepared as environment variables.

To run this notebook outside of this environment please follow the setup outlined [here](./EDC_Sentinel_Hub-Setup.ipynb).

## Mangage Datasets

This notebook shows how to load, delete and update geoDB collections.

In [1]:
from xcube_geodb.core.geodb import GeoDBClient

In [2]:
geodb = GeoDBClient()

In [3]:
geodb.whoami

'geodb_test99'

In [4]:
ds = geodb.get_collections()
ds

Empty DataFrame
Columns: [table_name]
Index: []

### Creating collections

Once the connection has bee4n established you will be able to create a table for datasets. The table will contain standard properties (fields). The lsit properties can be extended by the user.

In [5]:
# Have a look at fiona feature schema
collections = {
        "land_use": 
        {
            "crs": 3794,
            "properties": 
            {
                "RABA_PID": "float", 
                "RABA_ID": "float", 
                "D_OD": "date"
            }
        }
    }

# return obj implementing __repr_html__
geodb.create_collections(collections)

{'land_use': {'crs': 3794,
              'properties': {'D_OD': 'date',
                             'RABA_ID': 'float',
                             'RABA_PID': 'float'}}}

In [6]:
ds = geodb.get_collections()
ds

  table_name
0   land_use

### Loading data into a dataset

Once the table has been created, you can load data into the dataset. The example below loads a shapefile. The attributes of the shapefile correspond to the dataset's properties.

In [7]:
import geopandas
import os.path
gdf = geopandas.read_file(os.path.expanduser("~/.shared/notebooks/getting-started/geoDB/data/sample/land_use.shp"))
gdf

,RABA_PID,RABA_ID,D_OD,geometry
0,4770326.0,1410,2019-03-26,"POLYGON ((453952.629 91124.177, 453952.696 911..."
1,4770325.0,1300,2019-03-26,"POLYGON ((453810.376 91150.199, 453812.552 911..."
2,2305689.0,7000,2019-02-25,"POLYGON ((456099.635 97696.070, 456112.810 976..."
3,2305596.0,1100,2019-02-25,"POLYGON ((455929.405 97963.785, 455933.284 979..."
4,2310160.0,1100,2019-03-11,"POLYGON ((461561.512 96119.256, 461632.114 960..."
5,3602865.0,1500,2019-01-05,"POLYGON ((458139.092 95583.227, 458136.249 955..."
6,3602883.0,1500,2019-01-05,"POLYGON ((458123.067 95461.892, 458123.413 954..."
7,2312211.0,1100,2019-01-05,"POLYGON ((458291.080 95913.058, 458284.528 959..."
8,1072838.0,1321,2019-01-05,"POLYGON ((457819.736 96651.298, 457820.532 966..."
9,2318555.0,1300,2019-03-14,"POLYGON ((456547.427 91543.640, 456544.255 915..."
10,5983161.0,1100,2019-03-11,"POLYGON ((460137.998 95628.898, 460111.001 956..."
11,5983074.0,1600,2019-03-26,"POLYGON ((453673.609 91328.224, 453678.929 913..."
12,5983199.0,1600,2019-03-11,"POLYGON ((460312.295 96127.114, 460300.319 961..."
13,5983217.0,1100,2019-03-11,"POLYGON ((460459.445 96117.356, 460470.516 961..."
14,6299143.0,1600,2019-03-04,"POLYGON ((457798.753 99628.982, 457783.076 996..."
15,4643632.0,1600,2019-02-21,"POLYGON ((461439.703 92137.401, 461436.166 921..."
16,5983326.0,1100,2019-03-08,"POLYGON ((460620.185 96237.242, 460629.648 962..."
17,5983364.0,1500,2019-03-11,"POLYGON ((461039.853 96009.448, 461052.662 959..."
18,4682742.0,3000,2019-03-04,"POLYGON ((459432.100 99387.685, 459437.526 993..."
19,2304135.0,1321,2019-02-25,"POLYGON ((455215.954 98423.695, 455219.643 984..."
20,2311433.0,1100,2019-03-13,"POLYGON ((456552.015 93234.565, 456513.830 931..."
21,3616776.0,1410,2019-02-25,"POLYGON ((455384.809 97907.054, 455380.659 979..."
22,2316136.0,3000,2019-03-20,"POLYGON ((463208.897 96053.637, 463196.955 960..."
23,2309910.0,1100,2019-03-20,"POLYGON ((462452.425 96822.124, 462450.309 968..."
24,2308922.0,3000,2019-01-05,"POLYGON ((457190.207 90846.037, 457190.207 908..."
25,2301992.0,7000,2019-04-06,"POLYGON ((459898.930 100306.841, 459906.288 10..."
26,2308735.0,3000,2019-01-05,"POLYGON ((457124.020 90792.907, 457124.197 908..."
27,3826126.0,1410,2019-01-23,"POLYGON ((462585.734 93088.987, 462567.020 930..."
28,3826129.0,1500,2019-01-23,"POLYGON ((462168.988 93752.914, 462169.682 937..."
29,2306936.0,1500,2019-04-09,"POLYGON ((456878.975 98493.225, 456885.718 984..."
...,...,...,...,...
9797,6264862.0,1300,2019-01-05,"POLYGON ((457231.170 90902.256, 457234.861 909..."
9798,6264865.0,1300,2019-02-21,"POLYGON ((461378.845 91124.318, 461490.224 911..."
9799,6265284.0,1410,2019-03-20,"POLYGON ((463359.777 97000.000, 463419.061 969..."
9800,6265285.0,1410,2019-03-20,"POLYGON ((463027.637 97000.000, 463034.005 969..."
9801,6265300.0,1100,2019-01-11,"POLYGON ((457669.328 93935.657, 457817.823 939..."
9802,6266266.0,1500,2019-03-04,"POLYGON ((459422.869 97486.450, 459443.900 974..."
9803,6266267.0,1500,2019-03-26,"POLYGON ((459500.000 96866.978, 459467.770 968..."
9804,6266268.0,1500,2019-03-26,"POLYGON ((459378.045 96939.398, 459386.512 969..."
9805,6266269.0,1500,2019-03-27,"POLYGON ((459743.429 97012.052, 459744.637 970..."
9806,6266270.0,1500,2019-03-26,"POLYGON ((459500.000 97454.779, 459500.000 974..."
9807,6266272.0,1500,2019-03-27,"POLYGON ((459537.373 97271.029, 459550.603 972..."
9808,6266273.0,1500,2019-03-08,"POLYGON ((459500.000 96869.979, 459502.161 968..."
9809,6263408.0,1600,2019-03-29,"POLYGON ((461750.000 95327.962, 461713.108 953..."
9810,6265325.0,1500,2019-04-29,"POLYGON ((459783.136 97144.867, 459774.025 971..."
9811,6263043.0,1100,2019-02-26,"POLYGON ((455923.998 100000.000, 455930.399 10..."
9812,6264411.0,2000,2019-01-05,"POLYGON ((457037.826 95611.809, 457043.337 956..."
9813,6267379.0,1500,2019-03-04,"POLYGON ((459388.687 97005.828, 459391.726 970..."
9814,6269858.0,3000,2019-03-14,"POLYGON ((455161.034 91198.774, 455168.581 911..."
9815,6269859.0,3000,2019-03-26,"POLYGON ((454813.318 91265.238, 454813.931 912..."
9816,6260690.0,1600,2019-03-11,"POLYGON ((461712.146 95298.961, 461717.050 953..."
9817,6262716.0,1500,2019-01-05,"POLYGON ((458550.791 97091.797, 458567.553 970..."
9818,6262717.0,1500,2019-01-05,"POLYGON ((458314.210 97012.771, 458324.432 970..."
9819,6262718.0,1500,2019-01-05,"POLYGON ((458306.727 96960.662, 458309.654 969..."
9820,6263915.0,1300,2019-01-05,"POLYGON ((457450.306 97213.244, 457490.521 972..."
9821,6254610.0,1410,2019-04-29,"POLYGON ((459807.165 97000.000, 459802.583 970..."
9822,6253989.0,1600,2019-03-08,"POLYGON ((460637.334 96865.891, 460647.927 969..."
9823,6252044.0,1600,2019-03-26,"POLYGON ((459467.868 96839.686, 459467.770 968..."
9824,6245985.0,2000,2019-04-08,"POLYGON ((459488.998 94066.248, 459498.145 940..."
9825,6245986.0,2000,2019-02-20,"POLYGON ((459676.680 94000.000, 459672.469 939..."
9826,6245987.0,2000,2019-03-11,"POLYGON ((459690.580 94042.607, 459686.872 940..."

In [8]:
geodb.insert_into_collection('land_use', gdf)

Data inserted into land_use

geodb.get_collection('land_use', query="raba_id=eq.7000")

### Delete from a Collection

In [9]:
geodb.delete_from_collection('land_use', query="raba_id=eq.7000")

Data from land_use deleted

In [10]:
geodb.get_collection('land_use', query="raba_id=eq.7000")

Empty DataFrame
Columns: [Empty Result]
Index: []

### Updating a Collection

In [11]:
geodb.get_collection('land_use', query="raba_id=eq.1300")

,created_at,d_od,geometry,id,modified_at,raba_id,raba_pid
0,2020-02-04T12:05:57.936447+00:00,2019-03-26,"POLYGON ((453810.376 91150.199, 453812.552 911...",2,None,1300,4770325
1,2020-02-04T12:05:57.936447+00:00,2019-03-14,"POLYGON ((456547.427 91543.640, 456544.255 915...",10,None,1300,2318555
2,2020-02-04T12:05:57.936447+00:00,2019-02-25,"POLYGON ((456201.531 98685.274, 456199.109 986...",63,None,1300,2304287
3,2020-02-04T12:05:57.936447+00:00,2019-01-05,"POLYGON ((454709.766 97354.278, 454704.878 973...",86,None,1300,2331038
4,2020-02-04T12:05:57.936447+00:00,2019-01-16,"POLYGON ((453820.737 98574.017, 453816.740 985...",87,None,1300,2357574
5,2020-02-04T12:05:57.936447+00:00,2019-03-27,"POLYGON ((461723.552 99635.913, 461729.649 996...",92,None,1300,2332405
6,2020-02-04T12:05:57.936447+00:00,2019-01-05,"POLYGON ((456100.880 96973.323, 456111.084 969...",103,None,1300,2332420
7,2020-02-04T12:05:57.936447+00:00,2019-01-18,"POLYGON ((454204.847 90536.921, 454187.032 905...",105,None,1300,4674592
8,2020-02-04T12:05:57.936447+00:00,2019-01-18,"POLYGON ((454070.991 90528.946, 454064.259 905...",108,None,1300,4674624
9,2020-02-04T12:05:57.936447+00:00,2019-03-21,"POLYGON ((463350.273 100002.359, 463353.150 10...",113,None,1300,2335009
10,2020-02-04T12:05:57.936447+00:00,2019-01-05,"POLYGON ((454637.692 96679.827, 454630.584 966...",117,None,1300,2336101
11,2020-02-04T12:05:57.936447+00:00,2019-03-21,"POLYGON ((462781.112 100486.430, 462803.178 10...",136,None,1300,2334416
12,2020-02-04T12:05:57.936447+00:00,2019-04-02,"POLYGON ((463328.860 90761.134, 463328.104 907...",144,None,1300,2326550
13,2020-02-04T12:05:57.936447+00:00,2019-04-12,"POLYGON ((455622.915 96695.774, 455624.503 966...",168,None,1300,2352062
14,2020-02-04T12:05:57.936447+00:00,2019-03-14,"POLYGON ((455057.593 91970.982, 455055.967 919...",177,None,1300,2320214
15,2020-02-04T12:05:57.936447+00:00,2019-03-04,"POLYGON ((457798.753 99628.982, 457799.358 996...",180,None,1300,2331879
16,2020-02-04T12:05:57.936447+00:00,2019-03-26,"POLYGON ((454435.798 91016.834, 454445.707 910...",191,None,1300,6097356
17,2020-02-04T12:05:57.936447+00:00,2019-01-18,"POLYGON ((454448.966 90832.226, 454455.922 908...",192,None,1300,6097360
18,2020-02-04T12:05:57.936447+00:00,2019-01-05,"POLYGON ((454701.445 92825.227, 454697.793 928...",195,None,1300,5909727
19,2020-02-04T12:05:57.936447+00:00,2019-04-04,"POLYGON ((460484.841 90708.243, 460478.890 907...",223,None,1300,5965877
20,2020-02-04T12:05:57.936447+00:00,2019-02-25,"POLYGON ((456358.931 98670.710, 456356.281 986...",233,None,1300,5952565
21,2020-02-04T12:05:57.936447+00:00,2019-01-05,"POLYGON ((453808.397 92070.159, 453790.311 920...",245,None,1300,5989407
22,2020-02-04T12:05:57.936447+00:00,2019-01-05,"POLYGON ((453843.330 92103.241, 453818.113 920...",247,None,1300,5989409
23,2020-02-04T12:05:57.936447+00:00,2019-02-21,"POLYGON ((461167.931 92179.419, 461152.747 921...",255,None,1300,6292140
24,2020-02-04T12:05:57.936447+00:00,2019-03-26,"POLYGON ((454861.591 91486.468, 454860.184 914...",257,None,1300,4636356
25,2020-02-04T12:05:57.936447+00:00,2019-02-21,"POLYGON ((460638.292 91486.369, 460681.492 914...",264,None,1300,6291930
26,2020-02-04T12:05:57.936447+00:00,2019-02-21,"POLYGON ((460655.847 91900.179, 460638.840 918...",283,None,1300,213319
27,2020-02-04T12:05:57.936447+00:00,2019-02-25,"POLYGON ((456867.262 99440.300, 456860.474 994...",285,None,1300,209839
28,2020-02-04T12:05:57.936447+00:00,2019-01-17,"POLYGON ((454355.328 97338.851, 454367.269 973...",289,None,1300,4690687
29,2020-02-04T12:05:57.936447+00:00,2019-01-16,"POLYGON ((454628.979 98310.664, 454628.983 984...",291,None,1300,209856
...,...,...,...,...,...,...,...
865,2020-02-04T12:05:57.936447+00:00,2019-01-18,"POLYGON ((455078.795 90966.522, 455072.382 909...",9341,None,1300,6151302
866,2020-02-04T12:05:57.936447+00:00,2019-03-14,"POLYGON ((455005.977 91117.862, 455012.562 911...",9342,None,1300,6151303
867,2020-02-04T12:05:57.936447+00:00,2019-02-25,"POLYGON ((457211.208 99847.420, 457193.370 998...",9352,None,1300,6186692
868,2020-02-04T12:05:57.936447+00:00,2019-04-01,"POLYGON ((456566.075 100012.840, 456567.401 10...",9617,None,1300,6213354
869,2020-02-04T12:05:57.936447+00:00,2019-03-26,"POLYGON ((454628.770 91049.568, 454628.772 911...",9438,None,1300,6187002
870,2020-02-04T12:05:57.936447+00:00,2019-01-18,"POLYGON ((456878.795 90845.696, 456887.731 908...",9445,None,1300,6185456
871,2020-02-04T12:05:57.936447+00:00,2019-03-15,"POLYGON ((457622.392 100339.189, 457629.143 10...",9465,None,1300,6186049
872,2020-02-04T12:05:57.936447+00:00,2019-03-04,"POLYGON ((458149.632 100000.000, 458153.052 99...",9471,None,1300,6185547
873,2020-02-04T12:05:57.936447+00:00,2019-03-04,"POLYGON ((458067.069 99989.370, 458078.176 999...",9472,None,1300,6185548
874,2020-02-04T12:05:57.936447+00:00,2019-04-01,"POLYGON ((455726.072 100000.000, 455691.997 10...",9493,None,1300,6186868
875,2020-02-04T12:05:57.936447+00:00,2019-03-20,"POLYGON ((463433.734 99865.539, 463436.798 998...",9494,None,1300,6185536
876,2020-02-04T12:05:57.936447+00:00,2019-01-05,"POLYGON ((457250.000 95871.951, 457250.000 958...",9510,None,1300,6186609
877,2020-02-04T12:05:57.936447+00:00,2019-01-05,"POLYGON ((457152.911 95892.524, 457155.714 959...",9511,None,1300,6186611
878,2020-02-04T12:05:57.936447+00:00,2019-01-11,"POLYGON ((459494.988 91799.769, 459493.214 917...",9516,None,1300,6185247
879,2020-02-04T12:05:57.936447+00:00,2019-02-21,"POLYGON ((460118.865 91020.360, 460121.357 910...",9561,None,1300,6220218
880,2020-02-04T12:05:57.936447+00:00,2019-01-17,"POLYGON ((454086.864 97291.128, 454089.442 972...",9596,None,1300,6218039
881,2020-02-04T12:05:57.936447+00:00,2019-04-12,"POLYGON ((453669.217 90956.168, 453663.820 909...",9601,None,1300,4674280
882,2020-02-04T12:05:57.936447+00:00,2019-03-29,"POLYGON ((456376.699 99717.684, 456364.976 997...",9622,None,1300,6213353
883,2020-02-04T12:05:57.936447+00:00,2019-01-18,"POLYGON ((454867.572 90806.124, 454873.251 908...",9625,None,1300,6216240
884,2020-02-04T12:05:57.936447+00:00,2019-01-18,"POLYGON ((453630.451 91000.000, 453650.616 910...",9652,None,1300,6218067
885,2020-02-04T12:05:57.936447+00:00,2019-03-26,"POLYGON ((453916.368 91001.124, 453918.965 910...",9653,None,1300,6218068
886,2020-02-04T12:05:57.936447+00:00,2019-03-26,"POLYGON ((453868.385 91018.094, 453851.514 910...",9655,None,1300,6218069
887,2020-02-04T12:05:57.936447+00:00,2019-01-22,"POLYGON ((461750.000 91058.602, 461750.000 910...",9743,None,1300,6262132
888,2020-02-04T12:05:57.936447+00:00,2019-01-22,"POLYGON ((461750.000 91333.460, 461750.000 913...",9744,None,1300,6262135
889,2020-02-04T12:05:57.936447+00:00,2019-03-15,"POLYGON ((458304.555 100146.103, 458306.726 10...",9765,None,1300,6268058
890,2020-02-04T12:05:57.936447+00:00,2019-03-04,"POLYGON ((458247.583 99746.065, 458245.202 997...",9766,None,1300,6268059
891,2020-02-04T12:05:57.936447+00:00,2019-04-01,"POLYGON ((461932.283 90520.703, 461931.619 905...",9767,None,1300,6263561
892,2020-02-04T12:05:57.936447+00:00,2019-01-05,"POLYGON ((457231.170 90902.256, 457234.861 909...",9798,None,1300,6264862
893,2020-02-04T12:05:57.936447+00:00,2019-02-21,"POLYGON ((461378.845 91124.318, 461490.224 911...",9799,None,1300,6264865
894,2020-02-04T12:05:57.936447+00:00,2019-01-05,"POLYGON ((457450.306 97213.244, 457490.521 972...",9821,None,1300,6263915

In [12]:
geodb.update_collection('land_use', query="raba_id=eq.1300", values={'d_od': '2000-01-01'})

land_use updated

In [13]:
geodb.get_collection('land_use', query="raba_id=eq.1300")

,created_at,d_od,geometry,id,modified_at,raba_id,raba_pid
0,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((456547.427 91543.640, 456544.255 915...",10,2020-02-04T12:06:01.985734+00:00,1300,2318555
1,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((456100.880 96973.323, 456111.084 969...",103,2020-02-04T12:06:01.985734+00:00,1300,2332420
2,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((454070.991 90528.946, 454064.259 905...",108,2020-02-04T12:06:01.985734+00:00,1300,4674624
3,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((454637.692 96679.827, 454630.584 966...",117,2020-02-04T12:06:01.985734+00:00,1300,2336101
4,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((462781.112 100486.430, 462803.178 10...",136,2020-02-04T12:06:01.985734+00:00,1300,2334416
5,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((454628.979 98310.664, 454628.983 984...",291,2020-02-04T12:06:01.985734+00:00,1300,209856
6,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((460018.736 96059.962, 460025.012 960...",395,2020-02-04T12:06:01.985734+00:00,1300,6302716
7,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((459978.716 96047.034, 459980.975 960...",396,2020-02-04T12:06:01.985734+00:00,1300,6302715
8,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((460109.519 96022.285, 460111.573 960...",397,2020-02-04T12:06:01.985734+00:00,1300,6302717
9,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((453875.163 92135.129, 453856.852 921...",502,2020-02-04T12:06:01.985734+00:00,1300,5989421
10,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((459129.163 92192.455, 459125.090 922...",521,2020-02-04T12:06:01.985734+00:00,1300,3586428
11,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((460413.590 92520.553, 460411.933 925...",526,2020-02-04T12:06:01.985734+00:00,1300,2362752
12,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((453884.207 95360.904, 453874.456 953...",568,2020-02-04T12:06:01.985734+00:00,1300,171640
13,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((453537.783 100521.318, 453536.514 10...",579,2020-02-04T12:06:01.985734+00:00,1300,184314
14,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((463259.973 98124.153, 463256.276 981...",584,2020-02-04T12:06:01.985734+00:00,1300,6309322
15,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((455697.156 99982.341, 455695.593 999...",638,2020-02-04T12:06:01.985734+00:00,1300,3618148
16,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((462355.376 91003.570, 462362.891 910...",669,2020-02-04T12:06:01.985734+00:00,1300,2324928
17,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((461750.000 99350.619, 461754.967 993...",807,2020-02-04T12:06:01.985734+00:00,1300,210637
18,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((455000.794 91748.988, 455004.147 917...",809,2020-02-04T12:06:01.985734+00:00,1300,213073
19,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((462211.193 96603.092, 462190.017 966...",834,2020-02-04T12:06:01.985734+00:00,1300,6088726
20,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((460544.369 93580.394, 460537.985 935...",854,2020-02-04T12:06:01.985734+00:00,1300,6285938
21,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((454246.807 98319.316, 454247.051 983...",963,2020-02-04T12:06:01.985734+00:00,1300,2376668
22,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((458151.819 98982.604, 458157.156 989...",1140,2020-02-04T12:06:01.985734+00:00,1300,5769203
23,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((454942.258 98880.133, 454957.997 988...",1213,2020-02-04T12:06:01.985734+00:00,1300,209793
24,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((462708.534 99999.225, 462712.187 100...",1234,2020-02-04T12:06:01.985734+00:00,1300,2334705
25,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((461266.462 91486.359, 461115.669 914...",1333,2020-02-04T12:06:01.985734+00:00,1300,213315
26,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((457250.495 100244.550, 457258.114 10...",1344,2020-02-04T12:06:01.985734+00:00,1300,210177
27,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((462592.433 90434.285, 462579.184 904...",1365,2020-02-04T12:06:01.985734+00:00,1300,4637716
28,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((462499.471 94486.353, 462507.247 944...",1423,2020-02-04T12:06:01.985734+00:00,1300,2377617
29,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((454628.923 96619.793, 454626.774 966...",1613,2020-02-04T12:06:01.985734+00:00,1300,171714
...,...,...,...,...,...,...,...
865,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((463116.788 90885.430, 463114.797 908...",9323,2020-02-04T12:06:01.985734+00:00,1300,6151509
866,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((462872.405 90960.445, 462870.617 909...",9324,2020-02-04T12:06:01.985734+00:00,1300,6151510
867,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((454967.710 91088.038, 454973.354 910...",9340,2020-02-04T12:06:01.985734+00:00,1300,6151300
868,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((455078.795 90966.522, 455072.382 909...",9341,2020-02-04T12:06:01.985734+00:00,1300,6151302
869,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((455005.977 91117.862, 455012.562 911...",9342,2020-02-04T12:06:01.985734+00:00,1300,6151303
870,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((457211.208 99847.420, 457193.370 998...",9352,2020-02-04T12:06:01.985734+00:00,1300,6186692
871,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((454628.770 91049.568, 454628.772 911...",9438,2020-02-04T12:06:01.985734+00:00,1300,6187002
872,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((456878.795 90845.696, 456887.731 908...",9445,2020-02-04T12:06:01.985734+00:00,1300,6185456
873,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((457622.392 100339.189, 457629.143 10...",9465,2020-02-04T12:06:01.985734+00:00,1300,6186049
874,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((458149.632 100000.000, 458153.052 99...",9471,2020-02-04T12:06:01.985734+00:00,1300,6185547
875,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((458067.069 99989.370, 458078.176 999...",9472,2020-02-04T12:06:01.985734+00:00,1300,6185548
876,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((455726.072 100000.000, 455691.997 10...",9493,2020-02-04T12:06:01.985734+00:00,1300,6186868
877,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((463433.734 99865.539, 463436.798 998...",9494,2020-02-04T12:06:01.985734+00:00,1300,6185536
878,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((457250.000 95871.951, 457250.000 958...",9510,2020-02-04T12:06:01.985734+00:00,1300,6186609
879,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((457152.911 95892.524, 457155.714 959...",9511,2020-02-04T12:06:01.985734+00:00,1300,6186611
880,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((459494.988 91799.769, 459493.214 917...",9516,2020-02-04T12:06:01.985734+00:00,1300,6185247
881,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((460118.865 91020.360, 460121.357 910...",9561,2020-02-04T12:06:01.985734+00:00,1300,6220218
882,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((454086.864 97291.128, 454089.442 972...",9596,2020-02-04T12:06:01.985734+00:00,1300,6218039
883,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((453669.217 90956.168, 453663.820 909...",9601,2020-02-04T12:06:01.985734+00:00,1300,4674280
884,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((457450.306 97213.244, 457490.521 972...",9821,2020-02-04T12:06:01.985734+00:00,1300,6263915
885,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((456376.699 99717.684, 456364.976 997...",9622,2020-02-04T12:06:01.985734+00:00,1300,6213353
886,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((454867.572 90806.124, 454873.251 908...",9625,2020-02-04T12:06:01.985734+00:00,1300,6216240
887,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((453868.385 91018.094, 453851.514 910...",9655,2020-02-04T12:06:01.985734+00:00,1300,6218069
888,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((461750.000 91058.602, 461750.000 910...",9743,2020-02-04T12:06:01.985734+00:00,1300,6262132
889,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((461750.000 91333.460, 461750.000 913...",9744,2020-02-04T12:06:01.985734+00:00,1300,6262135
890,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((458304.555 100146.103, 458306.726 10...",9765,2020-02-04T12:06:01.985734+00:00,1300,6268058
891,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((458247.583 99746.065, 458245.202 997...",9766,2020-02-04T12:06:01.985734+00:00,1300,6268059
892,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((461932.283 90520.703, 461931.619 905...",9767,2020-02-04T12:06:01.985734+00:00,1300,6263561
893,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((457231.170 90902.256, 457234.861 909...",9798,2020-02-04T12:06:01.985734+00:00,1300,6264862
894,2020-02-04T12:05:57.936447+00:00,2000-01-01,"POLYGON ((461378.845 91124.318, 461490.224 911...",9799,2020-02-04T12:06:01.985734+00:00,1300,6264865

### Managing Properties of a Collection

In [14]:
geodb.get_collections()

  table_name
0   land_use

In [15]:
geodb.get_properties('land_use')

   column_name                 data_type table_name
0           id                   integer   land_use
1   created_at  timestamp with time zone   land_use
2  modified_at  timestamp with time zone   land_use
3     geometry              USER-DEFINED   land_use
4     raba_pid          double precision   land_use
5      raba_id          double precision   land_use
6         d_od                      date   land_use

In [16]:
geodb.add_property('land_use', "test_prop", 'integer')

Properties added

In [17]:
geodb.get_properties('land_use')

   column_name                 data_type table_name
0           id                   integer   land_use
1   created_at  timestamp with time zone   land_use
2  modified_at  timestamp with time zone   land_use
3     geometry              USER-DEFINED   land_use
4     raba_pid          double precision   land_use
5      raba_id          double precision   land_use
6         d_od                      date   land_use
7    test_prop                   integer   land_use

In [18]:
geodb.drop_property('land_use', 'test_prop')

Properties ['test_prop'] dropped from land_use

In [19]:
geodb.get_properties('land_use')

   column_name                 data_type table_name
0           id                   integer   land_use
1   created_at  timestamp with time zone   land_use
2  modified_at  timestamp with time zone   land_use
3     geometry              USER-DEFINED   land_use
4     raba_pid          double precision   land_use
5      raba_id          double precision   land_use
6         d_od                      date   land_use

In [20]:
geodb.add_properties('land_use', properties={'test1': 'integer', 'test2': 'date'})

Properties added

In [21]:
geodb.get_properties('land_use')

   column_name                 data_type table_name
0           id                   integer   land_use
1   created_at  timestamp with time zone   land_use
2  modified_at  timestamp with time zone   land_use
3     geometry              USER-DEFINED   land_use
4     raba_pid          double precision   land_use
5      raba_id          double precision   land_use
6         d_od                      date   land_use
7        test1                   integer   land_use
8        test2                      date   land_use

In [22]:
geodb.drop_properties('land_use', properties=['test1', 'test2'])

Properties ['test1', 'test2'] dropped from land_use

In [23]:
geodb.get_properties('land_use')

   column_name                 data_type table_name
0           id                   integer   land_use
1   created_at  timestamp with time zone   land_use
2  modified_at  timestamp with time zone   land_use
3     geometry              USER-DEFINED   land_use
4     raba_pid          double precision   land_use
5      raba_id          double precision   land_use
6         d_od                      date   land_use